body {
    font-family: "Garamond", "Times New Roman", serif;
}

.dashboard-avatar {
    width: 32px;
    height: 32px;
}

.scrollable-150 {
    height: 150px;
    overflow-y: auto;
}

.book-cover {
    width: 256px;
    height: 410px;
}

.reviewer-avatar {
    width: 75px;
    height: 75px;
}

.author-avatar {
    width: 250px;
    height: 250px;
}

.follower-avatar {
    width: 20px;
    height: 20px;
}

.notification-badge {
    position: absolute;
    margin-top: -2rem;
    margin-left: 1.5rem;
}

.notification-dropdown {
    width: 400px;
}

.notification-body {
    height: 300px;
    overflow-y: scroll;
}

.notification-row {
    border-left: 4px solid;
}

.chart {
    height: 300px;
}
